* {
	margin: 0;
	padding: 0;
}

header {
	background-color:#00CED1bb;
	text-align: center;
	color: rgb(63, 67, 71);
	font-size: 26px;
	padding: 10px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	
}

section{
	margin-top: 5px;	
	padding: 20px;	
	background-image: url('/eventos.png');
	height: 500px;
}

.formContainer {
	max-width: 350px;
	background-color:  #4169E1bb;
	padding: 20px;
	margin-top: 80px;
	border-radius: 10px;
}

h1{
	font-size: 26px;
}

#h2Even {
	font-size: 16px;
}

.mb {
	margin-bottom: 15px;
	text-align: justify;
}

input, select {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;
	border: none;
}

input[type="submit"]{
color: white;
background-color: slategray;
font-weight: bold;
}

select{
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background-image: url('arrow.jpg');
	background-repeat: no-repeat;

	background-position-x: calc(100% - 10px);
	background-position-y: center; 
}