<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CADASTRO DE OBREIROS</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
        
       <style>
           #titulo-ficha{
               margin-left: 250px;
           }
       </style>

</head>

<body>
    
    <div class="container">
        
        <h1 id="titulo-ficha">FICHA CADASTRAL DE OBREIROS</h1>
        <form class="d-flex flex-column" action="/obreiros" method="POST">
            <input class="field" name="matricula" placeholder="Matrícula">
            <input class="field" name="dataCadastro" placeholder="Data do cadastro">
            <input class="field" name="ativo" placeholder="Ativo">
            <input class="field" name="foto" placeholder="Foto"><br><br>
            <input class="field" name="nome" placeholder="Nome">
            <input class="field" name="campo" placeholder="Campo">
            <input class="field" name="codCampo" placeholder="Código do Campo">
            <input class="field" name="atvEclesiastica" placeholder="Atividade eclesiástica"><br><br>
            <input class="field" name="dataSeparacao" placeholder="Data Separação">
            <input class="field" name="sexo" placeholder="Sexo">
            <input class="field" name="dataNascimento" placeholder="Data de nascimento">
            <input class="field" name="endereco" placeholder="Endereço"><br><br>
            <input class="field" name="numero" placeholder="Núnemo">
            <input class="field" name="bairro" placeholder="Bairro">
            <input class="field" name="cidade" placeholder="Cidade">
            <input class="field" name="estado" placeholder="Estado"><br><br>
            <input class="field" name="uf" placeholder="UF">
            <input class="field" name="pais" placeholder="País">
            <input class="field" name="cep" placeholder="CEP">
            <input class="field" name="profissao" placeholder="Profissão"><br><br>
            <input class="field" name="fone" placeholder="Fone">
            <input class="field" name="identidade" placeholder="Identidade">
            <input class="field" name="orgaoExpedidor" placeholder="Orgão Expedidor">
            <input class="field" name="dataExpedicao" placeholder="Data Expedição"><br><br>
            <input class="field" name="tituloEleitoral" placeholder="Título Eleitoral">
            <input class="field" name="zona" placeholder="Zona">
            <input class="field" name="sessao" placeholder="Sessão">
            <input class="field" name="cpf" placeholder="CPF"><br><br>
            <input class="field" name="estadoCivil" placeholder="Estado Civil">
            <input class="field" name="escolaridade" placeholder="Escolaridade">
            <input class="field" name="cidadeNascimento" placeholder="Cidade de Nascimento">
            <input class="field" name="estadoNascimento" placeholder="Estado onde nasceu"><br><br>
            <input class="field" name="igrejaOrigem" placeholder="Igreja de Orígem">
            <input class="field" name="nomePai" placeholder="Nome do Pai">
            <input class="field" name="nomeMae" placeholder="Nome da Mãe">
            <input class="field" name="nomeConjuje" placeholder="Nome do Conjuje"><br><br>
            <input class="field" name="dataConversao" placeholder="Data da Conversão">
            <input class="field" name="localConvercao" placeholder="Local da Conversão">
            <input class="field" name="dataBatismoAguas" placeholder="Data do Batismo">
            <input class="field" name="localBatAgua" placeholder="Loc. Bat. Águas"><br><br>
            <input class="field" name="dataBatismoEspiritoSanto" placeholder="Data Bat. Esp. Santo">
            <input class="field" name="localBatEspSanto" placeholder="Loc. Bat. Esp. Santo"><br><br>

            <button class="btn btn-info">SALVAR</button>
        </form>
    </div>

    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>