<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretotia CONEMAD-PA</title>
</head>
<body>
    <h1>Diretoria CONEMAD-PA</h1>
</body>
</html>