<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloads-CONEMAD-PA</title>
</head>

<body>
    

    <div class="downloadsDoc">

        <h1>Download de documentos!</h1><br>

        <a href="/DIRETORIA.pdf" target="new blank">Mesa Diretora</a><br>
        <a href="/uploads/documentos/estatuto_conemad_pa.pdf" target="new blank">Estatuto Conemad-PA</a><br>
        <a href="/uploads/documentos/ficha_de_obreiros.pdf" target="new blank">Ficha de Obreiro (em branco)</a><br>
        <a href="/uploads/documentos/resolucao0022020.pdf" target="new blank">Resolução 002/2020</a>
    </div>
</body>

</html>